In [ ]:
import sys
from pathlib import Path
import pandas as pd
from matplotlib import pyplot as plt 

sys.path.append("..")

from src.data.data_loader import DataLoader

In [2]:
data_loader = DataLoader(file_path=Path("../data/raw"))
df_train, df_test = data_loader.load_data()

In [3]:
numeric_columns = [
    "axis",
    "label",
    "rpm",
    "adoc_start",
    "adoc_end",
    "rdoc",
    "fpt",
]

In [4]:
df_train = df_train.to_pandas()

In [7]:
df_train.loc[:, numeric_columns].describe()

                rpm  adoc_start    adoc_end        rdoc         fpt
count    516.000000  516.000000  516.000000  516.000000  516.000000
mean    6279.457364    1.825581    4.837209    2.934496    0.083837
std     2619.850380    1.864488    1.885214    2.860663    0.033609
min     3000.000000    0.000000    1.000000    0.300000    0.030000
25%     4300.000000    0.000000    3.000000    1.000000    0.060000
50%     6000.000000    1.000000    6.000000    1.000000    0.090000
75%     9500.000000    3.000000    6.000000    4.000000    0.104000
max    11000.000000    6.000000    7.000000   12.000000    0.160000

In [8]:
for item in numeric_columns:
    print(df_train[item].value_counts())

axis
x    258
y    258
Name: count, dtype: int64
label
stable     396
chatter    120
Name: count, dtype: int64
rpm
6000     164
3000      70
9500      70
11000     68
4800      58
4000      50
4300      36
Name: count, dtype: int64
adoc_start
1    156
0    144
3    114
6     60
2     42
Name: count, dtype: int64
adoc_end
6    304
3    114
1     56
7     38
2      4
Name: count, dtype: int64
rdoc
1.0     242
4.0      74
2.0      40
6.0      36
0.5      30
8.0      28
5.0      28
12.0     22
3.0      12
0.3       4
Name: count, dtype: int64
fpt
0.060    88
0.030    74
0.090    74
0.104    70
0.120    44
0.080    42
0.075    34
0.125    26
0.100    18
0.160    18
0.040    12
0.135    12
0.150     4
Name: count, dtype: int64